*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f1f1f1;
    margin-top: 105px;
<<<<<<< HEAD
=======
    height: 100%;
>>>>>>> c704b0bc3e234a9f3b4b3b7ed31e56c1d28dceb2
}

.barnav{
    position: fixed;
    top: 0;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo{
<<<<<<< HEAD
    width: 85px; 
    height: 85px;
=======
    width: 80px;
    height: 80px;
>>>>>>> c704b0bc3e234a9f3b4b3b7ed31e56c1d28dceb2
    padding: 5px 0 5px 10px;
}

.link-nav{
    color: #ffffff;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
<<<<<<< HEAD
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 8px 10px;
=======
>>>>>>> c704b0bc3e234a9f3b4b3b7ed31e56c1d28dceb2
}

.link-nav:hover{
    background-color: #f8f8f8;
    color: #324572;
    font-weight: bold;
    transition: all 0.4s;
    text-decoration: none;
}

<<<<<<< HEAD
.link-nav-logout{
    background-color: #0098DA;
    color: #f8f8f8 !important;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 8px 10px;
}

.link-nav-logout:hover{
    background-color: #f8f8f8;
    color: #0098DA !important;
    font-weight: bold;
    transition: all 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.input{
    outline: none;
    border-radius: 10px !important;
    box-shadow: 0px 2px 6px #888888;
    padding: 0px 10px 0px 10px;
}

.input:hover{
    border: transparent;
    box-shadow: 0px 1px 10px #324572;
}

.container-busca{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #888888;
}

.table td, .table th {
    vertical-align: middle;
}

.btn-e{
    padding: 4px 9px 4px 9px;
=======
.container-busca{
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0px 2px 6px #888888;
}

p{
    margin-bottom: 0;
}

.footer{
    width: 100%;
    height: 100px;
    background: #324572;
    color: #ffff;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
>>>>>>> c704b0bc3e234a9f3b4b3b7ed31e56c1d28dceb2
}