*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body{
    background-color: #111111;
    color: #f1f1f1 !important;
    margin-top: 150px;
}

.acessibilidade{
    background-color: #111111;
}

.navbar-toggler {
    border-color: #111111;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo{
    width: 80px;
    height: 80px;
    padding: 5px 0 5px 10px;
}

.link-nav{
    color: #111111;
    text-decoration: none;
    text-transform: none;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 8px 10px;
}

.link-nav:hover{
    background-color: #111111;
    color: #f8f8f8;
    font-weight: bolder;
    transition: all 0.4s;
    text-decoration: none;
}

.link-nav-logout{
    background-color: #FFE600;
    color: #111111 !important;
    border: 2px solid #111111;
    text-decoration: none;
    text-transform: none;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 8px 10px;
}

.link-nav-logout:hover{
    background-color: #111111;
    color: #FFE600 !important;
    border: 2px solid #FFE600;
    font-weight: bolder;
    transition: all 0.4s;
    text-decoration: none;
    cursor: pointer;
}

.barnav {
    background-color: #FFFFFF !important;
}

#ativaContraste{
    background-color: #111111;
    color: #ffffff !important;
    text-decoration: underline;
    text-transform:inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border-style: none;
    padding: 5px 5px;
}

.container_duvidas{
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container_pergunta{
    background-color: #FFE600;
    color: #111111 !important;
    border: 2px solid #FFE600;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.container_pergunta:hover{
    background-color: #111111;
    color: #FFE600 !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.container_respostas{
    border-radius: 5px;
    background-color: #111111;
    border: 2px solid #FFE600;
    margin-bottom: 20px;
    text-align: justify;
}