*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(
        to bottom,
        #324572 0% 40%,
        #f1f1f1 40% 500%);
    background-repeat: no-repeat;
    font-size: 16px;
}

.acessibilidade{
    background-color: #FFFFFF;
}

.container-login{
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #888888;
}

.imagem{
    width: 120px;
    height: 120px;
    padding: 10px;
}

.login-form-title{
    font-size: 1.5rem;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    color: #111111;
}

.label{
    font-size: 1.3rem;
    font-weight: bold;
    color: #111111;
}

.input{
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #888888;
    padding: 0px 30px 0px 20px;
}

.input:hover{
    border: transparent;
    box-shadow: 0px 1px 10px #324572;
}

.eye{
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 11%;
    top: 66%;
    color: #646464;
}

@media (max-width: 450px){

    .eye{
        right: 15%;
    }

}

.remember{
    font-size: 1rem;
    color: #111111;
}

.button_a{
    padding: 7px 20%;
    border-radius: 5px;
    border: 2px solid #0098DA;
    color: #ffff;
    background-color: #0098DA;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
}

.button_a:hover {
    background-color: #ffff;
    border: 2px solid #0098DA;
    color: #0098DA;
    cursor: pointer;
}

#ativaContraste{
    background-color: #FFFFFF;
    color: #324572 !important;
    text-decoration: underline;
    text-transform:inherit;
    font-weight: bold;
    font-size: 1.2rem;
    border-style: none;
    padding: 5px 5px;
}